.header{
background-color: #1F2937;
display: flex;
}

.header div {
    height: 100px;
    flex: 1 1 0%;
}

.header .header-logo {
    flex: 1 1 0%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 200px;
    color: #F9FAF8;
    font-size: 24px;
}

.header .header-links {
    flex: 2 1 0%; 
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 200px;
    gap: 50px;
}

.intro-container {
    background-color:#1F2937;
    display: flex;
}

.intro-container div {
    height: 500px;
    flex: 1 1 0%;
    display: flex;
    align-items: center;
}

.intro-text {
    flex: 1 1 0%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 200px;
}

.intro-text h1 {
    flex: 1 1 0%;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.intro-text p {
    flex: 1 1 0%;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 20px;
}

.intro-image {
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}
.intro-image img {
    flex: 1 1 0%;
    width: 400px;
    height: auto;
}
.intro-button {
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #3882F6;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: 50px;
}
