.header{
font-family: Roboto;
background-color: #1F2937;
display: flex;
align-items: center;
}

.header-logo{
    background-color: #1F2937;
    padding-left: 50px;
    padding-right: 100px;
    text: 24px #F9FAF8;
}

.header-links{
    background-color: #1F2937;
    display: flex;
    gap: 15px;
    text: 18px #E5E7EB;
}

